@model UserSignInModel
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Custom Cokie based</title>
    </head>
    <body>
        <from asp-action="SignIn" method="post">
            <input asp-for="@Model.UserName" />
            <input asp-for="@Model.Password" />
            <input type="checkbox" asp-for="@Model.Remember" /> <label>Beni Hatırla</label>
            <div>
                <button type="submit">Giriş Yap</button>
            </div>
        </from>
    </body>
</html>